.logo {
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

body {
    height: 100vh;
    background-image: linear-gradient(rgb(223, 223, 238), rgb(121, 48, 189));
    /* background-image: url("https://www.freepik.com/free-vector/halftone-background-with-circles_13295064.htm#page=1&query=chat%20background&position=0&from_view=keyword"); */

}

h1 {
    margin-top: 12px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.container {
    max-width: 1000px;
    border: 2px solid black;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
    border-radius: 20px;
}

#send-container {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 1085px;
    height: 34px;
}

#messageInp {
    width: 79%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}

.btn {
    width: 9%;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}

.message {
    background-color: rgb(231, 211, 211);
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 10px;
}

.left {
    float: left;
    clear: both;
}

.right {
    float: right;
    clear: both;
}